/ /home/barry/Desktop/Fodder Repos/Exercise-tracker/medium-beaucarnes-learn-the-mern-stack-by-building-an-exercise-tracker-mern-tutorial.png
/ /home/barry/Desktop/Fodder Repos/Exercise-tracker/medium-beaucarnes-learn-the-mern-stack-by-building-an-exercise-tracker-mern-tutorial-2.png
/ /home/barry/Desktop/Fodder Repos/Exercise-tracker/medium-beaucarnes-learn-the-mern-stack-by-building-an-exercise-tracker-mern-tutorial-3.png

node_modules